<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Perfil web</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css"
    />
  </head>
  <body>
    <div id="app">
      <h1 class="is-size-2 has-text-centered">Perfil de desarrollador web</h1>
      <div class="columns">
        <section class="section column">
          <profile-card
            :name="name"
            :image="image"
            :imageAlt="imageAlt"
            :description="description"
          ></profile-card>
        </section>
        <section class="section column">
          <div class="field">
            <div class="control">
              <label>Nombre</label><br />
              <input class="input" v-model="name" />
            </div>
          </div>
          <div class="field">
            <div class="control">
              <label>Descripción</label><br />
              <textarea class="textarea" v-model="description"></textarea>
            </div>
          </div>
          <add-interest @change="addInterest"></add-interest>
        </section>
      </div>
    </div>
    <script>
      Vue.component("profile-card", {
        props: {
          name: String,
          image: String,
          imageAlt: String,
          description: String,
        },
        template: `
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">
              {{ name }}
            </div>
            <div class="card-header-icon">
              <span class="icon">
                <i class="fas fa-id-card"></i>
              </span>
            </div>
          </div>
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="image" :alt="imageAlt" />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              {{ description }}
            </div>
          </div>
        </div>
        `,
      });
      Vue.component("add-interest", {
        template: `
        <div class="field is-grouped">
          <div class="control">
            <input v-model="interest" class="input" />
          </div>
          <div class="control">
            <button @click="addInterest" class="button">Add</button>
          </div>
        </div>
        `,
        data: function () {
          return {
            interest: null,
          };
        },
        methods: {
          addInterest: function () {
            this.$emit("change", this.interest);
            this.interest = null;
          },
        },
      });
      const app = new Vue({
        el: "#app",
        data: {
          name: "Vue Hero",
          image: "https://bulma.io/images/placeholders/1280x960.png",
          imageAlt: "Placeholder image",
          description: "I'm the description for Vue Hero",
          interests: [
            { id: 1, title: "Vue" },
            { id: 2, title: "JS" },
            { id: 3, title: "HTML" },
          ],
          interest: null,
        },
        computed: {
          numberOfInterests: function () {
            return `Number of interests ${this.interests.length}`;
          },
        },
        methods: {
          addInterest: function (interest) {
            this.interests.push({
              id: this.interests.length + 1,
              title: interest,
            });
          },
        },
      });
    </script>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"
    ></script>
  </body>
</html>
